html {
	scroll-behavior: smooth
}

.d-print-none {
	display: none !important
}

.container {
	width: auto;
	max-width: 100%;
	padding: 0
	width: 100%;
	padding-right: .75rem;
	padding-left: .75rem;
	margin-right: auto;
	margin-left: auto
}

body {
		background-color: #fff
		margin: 0
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", sans-serif
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #434a54;
		-webkit-text-size-adjust: 100%;
		-webkit-tap-highlight-color: transparent
	}